table {
  width: 100%;
  margin-bottom: 1rem;
}

td,
th {
  border: 1px solid #000;
  padding: 0.5rem 1rem;
}

td {
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  &.disabled {
    opacity: 50%;
    background: #666666;
  }
  .active {
    color: greenyellow;
  }
  .selected {
    color: #dc3545;
  }
  &:hover:not(.disabled) {
    background: #eee;
  }
}
