<table>
  <thead>
    <tr>
      <td>Sunday</td>
      <td>Monday</td>
      <td>Tuesday</td>
      <td>Wednesday</td>
      <td>Thursday</td>
      <td>Friday</td>
      <td>Saturday</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of calendar">
      <td
        *ngFor="let day of week.days"
        [class.disabled]="day.disabled"
        (click)="select(day.value)"
      >
        <span [class.selected]="day.selected" [class.active]="day.active">{{
          day.value | moment: 'ddd DD'
        }}</span>
      </td>
    </tr>
  </tbody>
</table>
